<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <title>Reference</title>
    <link rel="stylesheet" href="../ldoc.css" type="text/css" />
</head>
<body>

<div id="container">

<div id="product">
	<div id="product_logo"></div>
	<div id="product_name"><big><b></b></big></div>
	<div id="product_description"></div>
</div> <!-- id="product" -->


<div id="main">


<!-- Menu -->

<div id="navigation">
<br/>
<h1>molde</h1>




<h2>Topics</h2>
<ul class="">
  <li><strong>README</strong></li>
</ul>
<h2>Modules</h2>
<ul class="nowrap">
  <li><a href="../index.html">molde</a></li>
</ul>

</div>

<div id="content">


<h1>Molde</h1>
<p><a href="https://travis-ci.org/gilzoide/molde"><img src="https://travis-ci.org/gilzoide/molde.svg?branch=master" alt="Build Status"/></a></p>

<p>Molde is a template engine for Lua 5.2+. It compiles a template string to a
function that generates the final string by substituting values by the ones in
a sandboxed environment.</p>


<h2>Templates</h2>
<p>There are 3 constructs templates recognize:</p>

<ul>
    <li><strong>Literals</strong>: Content that will be copied unmodified to the resulting string</li>
    <li><strong>Value</strong>: A value processed by Lua and appended to the resulting string,
    stringified by <a href="https://www.lua.org/manual/5.3/manual.html#pdf-tostring">tostring</a></li>
    <li><strong>Statement</strong>: A Lua code block to be copied unmodified to the generated code,
    used for variable assignments, repetitions, conditions. It doesn't directly
    generate contents for the resulting string</li>
</ul>

<p><strong>Values</strong> are delimited by matching <code>{{</code> and <code>}}</code>, <strong>statements</strong> by <code>{%</code> and
<code>%}</code>, and everything else is considered <strong>literal</strong>. Braces can be escaped
using a trailing backslash: <code>\{</code> or <code>\}</code>.</p>

<p>Example:</p>

<pre><code> This is a molde template.
 By default, everything is copied unmodified to the resulting string.

 Values are just Lua expressions:
 - Hello {{ "world" }}
   "Hello world"
 - {{ 5 + 3 * 4 }}
   "17"
 - {{ nil or "default" }}
   "default"
 - You are using {{ _VERSION }}
   "You are using Lua 5.3" (You may use Lua 5.2 as well)
 - Line 1{{ "\n" }}Line 2
   "Line 1
   Line 2"
 - Escaping \{{ Hi! }}
   "Escaping {{ Hi! }}" (no opening '{{', so it is considered literal)
 - table.insert is used in values {{ so they must be a valid expression! }}
   Error: ')' expected near 'they'

 Statements are Lua statements:
 - {% for i = 1, 5 do %}{{ i }} {% end %}
   "1 2 3 4 5 "
 - {% -- this is just a comment, y'know %}
   ""
 - {{ unbound_variable }}{% unbound_variable = "Hi!" %}{{ unbound_variable }}
   "nilHi!"
 - {% if false then %}This will never be printed{% else %}Conditionals!{% end %}
   "Conditionals!"
 - {% if without_then %}Statements must form valid Lua code!{% end %}
   Error: 'then' expected near 'table'
</code></pre>



<h2>Usage</h2>

<pre>
<span class="keyword">local</span> molde = <span class="global">require</span> <span class="string">'molde'</span>

<span class="comment">-- molde.load and molde.loadfile return a function
</span><span class="comment">-- that receives the environment to use (default = _ENV)
</span>hello_template = molde.<span class="global">load</span>(<span class="string">[[Hello {{ name or "world" }}]]</span>)
<span class="global">print</span>(hello_template()) <span class="comment">-- "Hello world"
</span><span class="comment">-- pass in your variables in a table
</span><span class="global">print</span>(hello_template{name = <span class="string">"gilzoide"</span>}) <span class="comment">-- "Hello gilzoide"
</span><span class="comment">-- or use _ENV
</span>name = gilzoide
<span class="global">print</span>(hello_template()) <span class="comment">-- "Hello gilzoide"
</span>
<span class="comment">-- load the template from a file (same template)
</span>hello_template = molde.<span class="global">loadfile</span>(<span class="string">"hello_template"</span>)
name = <span class="keyword">nil</span>
<span class="global">print</span>(hello_template()) <span class="comment">-- "Hello world"</span>
</pre>




<h2>Testing</h2>
<p>Run automated tests using <a href="http://olivinelabs.com/busted/">busted</a>:</p>


<pre>
$ busted
</pre>

<h2>Documentation</h2>
<p>The API is documented using <a href="https://github.com/stevedonovan/LDoc">LDoc</a>.
To generate:</p>


<pre>
$ ldoc ldoc/
</pre>



</div> <!-- id="content" -->
</div> <!-- id="main" -->
<div id="about">
<i>generated by <a href="http://github.com/stevedonovan/LDoc">LDoc 1.4.6</a></i>
<i style="float:right;">Last updated 2017-02-19 22:33:12 </i>
</div> <!-- id="about" -->
</div> <!-- id="container" -->
</body>
</html>
